/* @font-face {
  font-family: GTPT;
  src: url("//db.onlinewebfonts.com/t/c31b8e03018828378e7e35add49c2244.eot"); src: url("//db.onlinewebfonts.com/t/c31b8e03018828378e7e35add49c2244.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c31b8e03018828378e7e35add49c2244.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/c31b8e03018828378e7e35add49c2244.woff") format("woff"), url("//db.onlinewebfonts.com/t/c31b8e03018828378e7e35add49c2244.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/c31b8e03018828378e7e35add49c2244.svg#GT Eesti Pro Text") format("svg");
} */

@import url('./fonts/roboto/roboto.css');

@keyframes jump {
  25% {
    transform: translateY(-20px) rotate(6deg);
  }
  50% {
    transform: translateY(0) rotate(0deg);
  }
  75% {
    transform: translateY(-10px) rotate(-4deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

body {
  margin: 0;
  /* font-family: GTPT; */
  font-family: Roboto;
  overflow: hidden;
}

button, button:active, button:focus {
  border: none;
  outline: none;
  decoration: none;
  /* font-family: GTPT; */
  font-family: Roboto;
  background-color: transparent;
}

input {
  border: none;
  background-color: transparent;
  /* font-family: GTPT; */
  font-family: Roboto;
}

a {
  text-decoration: underline;
  color: #181818
}

a:hover {
  text-decoration: none;
}

.shlf {
  background-color: rgb(255, 238, 0);
  width: 100%;
  height: 100vh;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.shlf-wrapper {
  width: 83%;
  margin-bottom: 6%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.shlf-wrapper-block {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.shlf-main-text {
  /* font-size: 1.4rem; */
  font-size: 4.5vw;
  line-height: 1.4em;
  /* margin: 120px 0 0; */
}

.shlf-money-picker {
  opacity: .3;
  /* font-size: 35px; */
  font-size: 7.2vw;
  font-weight: 400;
}

.shlf-money-picker:hover {
  cursor: pointer;
}

.shlf-money-picker--active {
  opacity: 1;
}

.shlf-money-picker:last-of-type {
  margin-right: 20px;
}

.shlf-paytype-picker {
  margin: 0;
  padding: 0;
  opacity: .3;
  /* font-size: 22px; */
  font-size: 4.4vw;
}
.shlf-paytype-picker:last-of-type {
  margin-right: 20px;
}

.shlf-paytype-picker:hover {
  cursor: pointer;
}

.shlf-paytype-picker--active {
  opacity: 1;
}

.shlf-help-button {
  margin: 0 0 10px;
  padding: 0;
  font-size: 7.6vw;
  /* font-size: 37px; */
  text-transform: uppercase;
  align-self: flex-start;
}

.shlf-help-button-animated {
  animation: jump 0.6s ease 0s forwards;
}

.shlf-help-button:hover {
  cursor: pointer;
}

.shlf-paytype-picker-holder {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shlf-money-picker-holder {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}

.shlf-money-picker-fixed-pay {
  border-top: 3px solid #181818;
  justify-content: space-between;
}

.shlf-money-picker-any-pay {
  border-bottom: 3px solid #181818;
  justify-content: flex-start;
}

.shlf-text {
  margin: 0;
  color: #181818;
  font-size: 2.8vw;
  /* font-size: 14px; */
}

.shlf-unsubscribe-text {
  margin: 0 ;
  padding: 10px 0 0;
  border-top: 3px solid #181818;
}

.shlf-conditions-text {
  width: 100%;
  padding: 20px 0 0;
  border-top: 3px solid #181818;
}





/* .shlf-hr {
  width: 100%;
  height: 1px;
  background: #181818;
} */

@media screen and (max-width: 480px) {
  .shlf {
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .shlf-wrapper {
    width: 90%;
    height: 100%;
  }

  .shlf-main-text {
    font-size: 15px;
    line-height: 1.39em;
    margin: 44px 0 35px;
  }

  .shlf-money-picker {
    font-size: 26px;
    padding-right: 10px;
    padding-bottom: 11px;
  }

  .shlf-money-picker:last-of-type {
    margin-right: 0;
  }

  .shlf-paytype-picker {
    font-size: 15px;
    line-height: 1.39em;
  }

  .shlf-help-button {
    margin: 71px 0 10px;
    font-size: 26px;
  }

  .shlf-paytype-picker-holder {
    height: 60px;
  }

  .shlf-money-picker-holder {
    height: auto;
  }

  .shlf-money-picker-fixed-pay {
    border-top: 2px solid #181818;
    padding-top: 16px;
  }
  
  .shlf-money-picker-any-pay {
    border-bottom: 2px solid #181818;
  }

  .shlf-text {
    font-size: 9px;
    line-height: 12px;
  }

  .shlf-unsubscribe-text {
    border-top: 2px solid #181818;
  }

  .shlf-conditions-text {
    width: 95%;
    padding: 11px 0 44px;
    border-top: 2px solid #181818;
  }  
}
